* {
    margin: 0;
    font-family: 'OpenSans';
}

/* header::before {
    content: '';
    background-color: #1c2147;
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

header {
    position: relative;
    /* background-image: url(../images/football_767.jpg); */
    background-color: #1c2147;
    background-size: cover;
    color: #ffffff;
    padding: 30px 20px 60px 20px;
    z-index: 1;
}

.logo_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: 35px;
    fill: #ffffff;
}

.head_container {
    padding-top: 130px;
    /* padding-bottom: 50px; */
    font-weight: bold;
    font-size: 28px;
}

.head_text {
    margin-bottom: 15px;
    line-height: 1.25;
}

.head_text:nth-child(2) {
    padding-left: 45px;
}

.store_container {
    padding-top: 65px;
    padding-bottom: 10px;
}

.store_botton {
    height: 35px;
    border-radius: 20px;
    background-color: #5e42b0;
    font-size: 8px;
    text-transform: uppercase;
    padding-left: 28.57%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.store_logo {
    height: 25px;
    margin-right: 5px;
}

.store_text:nth-child(2) {
    font-weight: bold;
}

.wrapper_button {
    margin-bottom: 10px;
}

.athlets {
    padding-top: 10px;
}
h1 {
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 50px;
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: bold;
}
h2 {
    display: inline;
    font-size: 23px;
    color: #c1c1c1;
    text-transform: uppercase;
    font-weight: bold;
}

.footballer_img, .basketballer_img {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.heading_wrapper{
    display: flex;
    align-items: center;
    margin: 25px 0px 15px 0px;
}

.rectangle {
    display: block;
    width: 15px;
    height: 4px;
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.heading_prefix{
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.section_connection {
    z-index: 1;
    background-color: #fafafa;
    padding: 55px 20px 45px 20px;
    margin-top: 225px;
}

.section_collaboration {
    background-color: #f5f4f9;
    padding: 30px 20px 45px 20px;
}

.section_growth {
    position: relatve;
    background-color: #5e42b0;
    padding: 30px 20px 45px 20px;
}

.players .section_growth {
    background-color: #090c35;
}

.players .section_growth .heading_prefix {
    color: #8765dd;
}

.section_growth p {
    color: #ffffff;
}

.section_growth .rectangle {
    background-color: #ffffff;
}

.players {
    padding-top: 10px;
}
