* {
    margin: 0;
    font-family: 'OpenSans';
    line-height: 1.2;
    font-size: 15px;
    letter-spacing: 0.8px;
}

/* ---------------------header-------------------------- */

header::before {
    content: '';
    background-color: #1c2147;
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: relative;
    background-image: url(../images/football_767.jpg);
    background-color: #1c2147;
    background-size: cover;
    color: #ffffff;
    padding: 0px 20px;
    z-index: 1;
}

.logo_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
    height: 36px;
    fill: #ffffff;
}

.head_container {
    padding-top: 130px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 1.4px;
}

.head_text {
    font-size: 28px;
}

.head_text:nth-child(2) {
    padding-top: 17px;
    padding-left: 44px;
}

.store_container {
    padding-top: 85px;
    padding-bottom: 70px;
}

.store_botton {
    height: 35px;
    border-radius: 20px;
    background-color: #5e42b0;
    text-transform: uppercase;
    padding-left: 28.57%;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

.store_logo {
    height: 25px;
    margin-right: 5px;
}

.store_text {
    font-size: 8px;
}

.store_text:nth-child(2) {
    font-weight: bold;
}

/* ---------------------ATHLETS/PLAYERS-------------------------- */

h2 {
    padding-top: 13px;
    padding-left: 20px;
    font-size: 50px;
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    display: inline;
    font-size: 23px;
    color: #c1c1c1;
    text-transform: uppercase;
    font-weight: bold;
}

.footballer_img, .basketballer_img {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.heading_wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rectangle {
    display: block;
    width: 15px;
    height: 4px;
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.heading_prefix{
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.section_connection {
    z-index: 1;
    background-color: #fafafa;
    padding: 80px 20px 50px 20px;
    margin-top: 233px;
}

.section_collaboration {
    background-color: #f5f4f9;
    padding: 55px 20px;
}

.section_growth {
    background-color: #5e42b0;
    padding: 55px 20px;
}

.players .section_growth {
    background-color: #090c35;
}

.players .section_growth .heading_prefix {
    color: #8765dd;
}

.section_growth p {
    color: #ffffff;
}

.section_growth .rectangle {
    background-color: #ffffff;
}

/* ---------------------be_active/find_contact/work_it-------------------------- */

.be_active_img, .find_contact_img, .work_it_img {
    width: 100%;
}

.heading_rectangle {
    position: absolute;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    padding-top: 27px;
    padding-left: 27px;
    margin-left: 20px;
    margin-top: -61px;
    background-color: #5e42b0;
    font-size: 14px;
    font-weight: bold;
    color: #f5f6f7;
}

.heading_rectangle .rectangle {
    opacity: 0.3;
    border-radius: 1.5px;
    background-color: #ffffff;
}

.small_h2 {
    font-size: 28px;
    padding-top: 25px;
}

.be_active p,
.find_contact p,
.work_it p {
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 20px 75px 20px;
}

/* ---------------------footer-------------------------- */

footer::before {
    content: '';
    background-color: #1c2147;
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer {
    position: relative;
    background-image: url(../images/game_767.jpg);
    background-color: #1c2147;
    background-size: cover;
    color: #ffffff;
    padding: 100px 20px 10px 20px;
    z-index: 1;
}

.logo_wrapper {
    margin: auto;
    width: 75px;
    height: 75px;
    border-radius: 20px;
    background: linear-gradient(to top, #50379a, #7756d7);
    display: flex;
}

.logo {
    height: 50px;
    margin: auto;
}

.foot_container {
    padding-top: 50px;
}

.foot_text {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.under_foot_text {
    padding-top: 3px;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-align: center;
    color: #9b8ec1;
}

footer .store_container {
    padding-top: 75px;
    padding-bottom: 35px;
}
